@charset "utf-8";
/* CSS Document */
.container_english, .container_portugues{
	position: relative;
	display: none
}
#topoLogo_english, #topoLogo_portugues {
	/*/background-color: #004B61;*/
	position: fixed;
	top: 0px;
	width: 100%;
	height: 5em;
	z-index: 1;
	opacity: 0
}
/*
#botao_english, #botao_espanol, #botao_portugues {
	pointer-events: none;
}
*/
