@charset "utf-8";
/* CSS Document */

/*
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

#contact_body header, #contact_body_pt header {
  margin: 0; 
}
#contact_body header h2, #contact_body_pt header h2 {
  margin: 0 0 5px 0;
}
#contact_body > div, #contact_body_pt > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
#contact_body > div > fieldset > div > div, #contact_body_pt > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
#contact_body > div > label, #contact_body_pt > div > label, legend, .desc {
	width: 25%;
  	float: left;
}
#contact_body > div > div, #contact_body > div > fieldset > div,
#contact_body_pt > div > div, #contact_body_pt > div > fieldset > div {
  width: 75%;
  float: right;
}
#contact_body > div > fieldset label, #contact_body_pt > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  #contact_body > div, #contact_body_pt > div {
    margin: 0 0 15px 0; 
  }
  #contact_body > div > label, #contact_body_pt > div > label,
  legend {
	width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  #contact_body > div > div, #contact_body_pt > div > div,
  #contact_body > div > fieldset > div, #contact_body_pt > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  textarea {
    width: 100%; 
  }
}
.error {
	font-weight: bold !important;
	color: #F00 !important;
}