php_flag authmail.debug Off
php_value authmail.port 587
php_value authmail.address ricardo@jaguaribe.digital
php_value authmail.smtp_account ricardo=jaguaribe.digital
php_value authmail.smtp smtp.jaguaribe.digital
php_value authmail.password 'Jagua@45'
